/* Button styles */
/* Button styles */
.custom-button {
    background-color: #fdfdfd !important; /* Use !important to override default styles */
    color: black;
    border-color: black;
    border-radius: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a text shadow */

  }
  
  /* Hover effect */
  .custom-button:hover {
    background-color: #71F483 !important; /* Use !important to override default styles */
    color: black
  }